<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Node Program GUI</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-italia@2.9.1/dist/css/bootstrap-italia.min.css" />
  <link rel="stylesheet" href="<%- publicPath %>css/style.css" />
</head>

<body>
  <%- include('partials/icons'); %>
  <!-- HEADER -->
  <%- include('partials/header'); %>

  <!-- MAIN SECTION -->
  <main>
    <div id="content" class="container">
      <% if (currentPage === 'home' || currentPage === '') { %>
      <%- include('home') %>
      <% } else if (currentPage === 'report') { %>
      <%- include('report') %>
      <% } else if (currentPage === 'history') { %>
      <%- include('history') %>
      <% } else { %>
      <p>Page not found <%= currentPage %></p>
      <% } %>

    </div>
  </main>

  <!-- FOOTER -->
  <%- include('partials/footer'); %>

  <!-- JS DEPENDENCIES -->
  <script src=" https://unpkg.com/bootstrap-italia@2.9.1/dist/js/bootstrap-italia.bundle.min.js"></script>
  <script src="<%- publicPath %>js/elements.js"></script>
  <script src="<%- publicPath %>js/renderer.js"></script>
  <script src="<%- publicPath %>js/routing.js"></script>
  <script src="<%- publicPath %>js/stepper.js"></script>
  <script src="<%- publicPath %>js/settingsForm.js"></script>
</body>

</html>