
<div class="history-title d-flex align-items-start justify-content-between gap-2 mb-3">
  <h1 class="h2 mb-0 flex-shrink-0">Storico scansioni</h1>
  <div class="legends-container d-flex gap-1 flex-column align-items-end">
    <%- include('partials/legend', { variation: "buttons", hideTitle: true }); %>
    <%- include('partials/legend', { variation: "results", hideTitle: true }); %>
  </div>
</div>
<%- include('partials/table-history', { items: items });  %>
<%- include('partials/components/pagination', { pagination: pagination }); %>
<%- include('partials/modal-confirm-delete'); %>
<script src="<%- basePathJs %>downloadButtons.js" type="module"></script>
<script src="<%- basePathJs %>setTableHeight.js" type="module"></script>