<div class="d-flex flex-column flex-lg-row justify-content-between gap-3 mb-3 mb-lg-0">
  <h2 class="mb-0">Report</h2>
  <div class="d-flex gap-3">
    <a class="btn btn-outline-primary btn-lg w-100 text-nowrap" href="<%=mock.urlReport%>" target="_blank">
      <svg class="icon icon-primary me-1">
        <use href="#it-password-visible"></use>
      </svg>
      <span>Visualizza il report <span class="visually-hidden"> - apre in una nuova scheda</span></span>
    </a>
    <button
      data-download="<%= mock.id %>"
      class="btn btn-primary btn-lg w-100 text-nowrap"
    >
      <svg class="icon icon-white me-1">
        <use href="#it-download"></use>
      </svg>
      <span>Scarica il report</span>
    </button>
  </div>
</div>

<div class="d-flex flex-column flex-lg-row justify-content-between gap-2 gap-lg-3">
  <div class="d-flex align-items-center gap-3">
    <svg class="icon icon-xl" alt="<%= mock?.type %>">
      <use href="<%= mock?.type === 'Scuola' ? '#it-scuole' : '#it-comuni' %>"></use>
    </svg>
    <span class="h4 mb-0"><%= mock?.website %></span>
  </div>

  <div class="d-flex flex-lg-column justify-content-end text-end">
    <small>
      Data: <%- new Intl.DateTimeFormat('it-IT', { dateStyle: "short", timeStyle:
      "short" }).format(new Date(mock.date)) %>
    </small>
    <small class="ms-auto">
      Accuratezza:
      <%-
        mock.accuracy === 'all'
        ? 'Massima (Tutte le pagine)'
        : mock.accuracy === 'high'
        ? 'Alta (10 pagine)'
        : mock.accuracy === 'suggested'
        ? 'Suggerita (5 pagine)'
        : mock.accuracy === 'min'
        ? 'Bassa (1 pagina)'
        : 'Non definita'
      %>
    </small>
  </div>
</div>

<div id="report-container">
  <!--
  <div class="progress-bar-wrapper mb-4">
    <div class="progress-bar-label">Scanning completato 100%</div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  -->

  <div class="cards-container d-flex justify-content-between gap-5 mb-2">
    <%- include('partials/card-pass', { results: mock.results }); %>
    <%- include('partials/card-stats', { results: mock.results }); %>
  </div>

  <div class="legend">
    <b>Legenda:</b>
    <div class="legend-item">
      <div class="circle pass">
      </div>
      <p>Criterio superato</p>
    </div>
    <div class="legend-item">
      <div class="circle fail">
      </div>
      <p>Criterio fallito</p>
    </div>
    <div class="legend-item">
      <div class="circle error">
        x
      </div>
      <p>Criterio in errore</p>
    </div>

    <div class="legend-item">
      <div class="circle undone">
        x
      </div>
      <p>Criterio non eseguito</p>
    </div>
  </div>

  <div class="accordion" id="accordion-container">
    <div class="accordion-item">
      <h2 class="accordion-header" id="accordion-header-errors">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#accordion-collapse-errors"
          aria-expanded="false"
          aria-controls="accordion-collapse-errors"
        >
          Criteri di valutazione
        </button>
      </h2>
      <div
        id="accordion-collapse-errors"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-container"
        role="region"
        aria-labelledby="accordion-header-errors"
      >
        <div class="accordion-body p-3">
          <form id="auditsRedoForm" data-report-id="<%=mock.id%>">
            <% if(mock.redo_audits && mock.redo_audits.length ){ %> <%
            mock.redo_audits.forEach(function(audit) { if(audit.code.length >
            0){ %>
            <div class="form-check">
              <div class="circle <%= audit.status %>">
                <%if (audit.status === 'undone' || audit.status === 'error') { %>
                  x
                <%}%>
              </div>
              <%if (audit.status === 'fail' || audit.status === 'error') { %>
              <input
                class="form-check-input"
                id="<%= audit.id %>"
                type="checkbox"
                name="audits"
                checked
              />
                <%} else {%>
                  <input
                          class="form-check-input"
                          id="<%= audit.id %>"
                          type="checkbox"
                          name="audits"
                  />
                <%}%>

              <label class="form-check-label" for="<%= audit.id %>"
                ><%= audit.code.toUpperCase() + ' - ' +
                audit.title.toUpperCase() %></label
              >
            </div>
            <% }}); %> <% } %>
          </form>
          <button id="auditsRedoBtn" class="btn btn-primary btn-xs mt-3">
            Riavvia scansione
          </button>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="accordion-header-logs">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#accordion-collapse-logs"
          aria-expanded="false"
          aria-controls="accordion-collapse-logs"
        >
          Consulta il log
        </button>
      </h2>
      <div
        id="accordion-collapse-logs"
        class="accordion-collapse collapse"
        data-bs-parent="#accordion-container"
        role="region"
        aria-labelledby="accordion-header-logs"
      >
        <div class="accordion-body">
          <textarea id="logs" class="font-monospace" readonly>
            <%= mock.logs %>
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<a
  class="visually-hidden"
  aria-hidden="true"
  data-page="scanning"
  href="/scanning"
  >Report</a
>
<script src="<%- basePathJs %>downloadButtons.js" type="module"></script>
