<div class="form-group">
  <label for="<%= name %>-input" class="input-number-label active"><%= label %></label>
  <div class="input-group input-number">
    <input
      type="number"
      class="form-control"
      data-bs-input id="<%= name %>-input"
      value="<%= defaultValue %>"
      step="<%= locals.step ?? 'any' %>"
      name="<%= name %>"
      min="<%= locals.min ?? undefined %>"
      max="<%= locals.max ?? undefined %>"
      aria-describedby="<%= name %>-desc"
    />
    <span class="input-group-text align-buttons flex-column">
      <button class="input-number-add">
        <span class="visually-hidden">Aumenta valore</span>
      </button>
      <button class="input-number-sub">
        <span class="visually-hidden">Diminuisci valore</span>
      </button>
    </span>
  </div>
  <% if (locals.description) { %>
    <small id="<%= name %>-desc" class="form-text"><%= description %></small>
  <% } %>
</div>