<div class="form-group select-wrapper">
  <label for="<%= name %>-select"><%= label %></label>
  <select id="<%= name %>-select" name="<%= name %>" aria-describedby="<%= name %>-desc">
    <% options.forEach((opt, i) => { %>
      <option <%= checked === opt.value ? "selected" : "" %> value="<%= opt.value %>"><%= opt.label %></option>
    <% }); %>
  </select>
  <% if (locals.description) { %>
    <small id="<%= name %>-desc" class="form-text"><%= description %></small>
  <% } %>
</div>