<div id="full-settings-container">
  <!-- ALERT SECTION -->
  <div class="alert alert-primary mb-5" role="alert" id="alert-container">
    <p class="h5">Informazioni generali</p>
    <p>
      Inserire il link che si desidera scansionare e attendere il risultato. Una volta ultimata la scansione verrà messo a disposizione il report per poter essere consultato.
    </p>
    <div class="separator"></div>
    <p>
      <a href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/it/versione-attuale/index.html" target="_blank">
        Documentazione delle App di valutazione dell’adesione ai modelli <span class="visually-hidden"> - apre in una nuova scheda</span>
      </a>
    </p>
  </div>

  <div class="accordion" id="accordion-container">
    <!-- SETTINGS -->
    <div class="accordion-item" id="settings-container">
      <h2 class="accordion-header " id="heading-settings">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-settings" aria-expanded="false" aria-controls="collapse-settings">
          Impostazioni avanzate
        </button>
      </h2>
      <div id="collapse-settings" class="accordion-collapse collapse" data-bs-parent="#accordion-container" role="region" aria-labelledby="heading-settings">
        <div class="accordion-body">
          <form id="settingsForm" class="settings-wrapper">
            <!-- <%- include('../components/select', { label: "Ambito", name: "scope", options: [{ label: "Online", value: "online" }, { label: "Locale", value: "local" }], checked: "online" }); %> -->
            <%- include('../components/select', { label: "Accuratezza", name: "accuracy", options: [{ label: "Massima (Tutte le pagine)", value: "all" }, { label: "Alta (10 pagine)", value: "high" }, { label: "Media (5 pagine)", value: "suggested" }, { label: "Bassa (1 pagina)", value: "min" }], checked: "all", description: "Definisce la precisione della scansione indicando il numero di pagine analizzate per ogni tipologia di pagina. È necessario avere un risultato positivo dall'esecuzione con 'Massima' per superare il controllo di asseverazione." }); %>
            <%- include('../components/input-numeric', { label: "Pagine scansionate simultaneamente", defaultValue: 10, name: "concurrentPages", step: 1, min: 1, max: 20, description: "Inserire un valore compreso tra 1 e 20." }); %>
            <%- include('../components/input-numeric', { label: "Timeout (ms)", defaultValue: 30000, name: "timeout", step: 1000, min: 0, description: "Inserire il tempo massimo di timeout per il caricamento delle pagine in millisecondi." }); %>
          </form>
        </div>
      </div>
    </div>

    <!-- AUDITS -->
    <div class="accordion-item" id="audits-container">
      <h2 class="accordion-header " id="heading-audits">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-audits" aria-expanded="false" aria-controls="collapse-audits">
          Criteri e raccomandazioni
        </button>
      </h2>
      <div id="collapse-audits" class="accordion-collapse collapse" data-bs-parent="#accordion-container" role="region" aria-labelledby="heading-audits">
        <div class="accordion-body">
          <form id="auditsForm" class="audits-wrapper">

            <% if (defaultAudits.length === 0) { %>
              <p>Devi prima selezionare una tipologia di scansione (scuola/comune).</p>
            <% } else { %>
              <% defaultAudits.forEach(function(audit) {
                if(audit.code.length > 0){
              %>
                <div class="form-check">
                  <input class="form-check-input" id="<%= audit.id %>" type="checkbox" name="audits" checked>
                  <% if(audit.code.toUpperCase() === audit.title.toUpperCase()) {%>
                  <label class="form-check-label" for="<%= audit.id %>"><%= audit.title.toUpperCase() %></label>
                  <%} else {%>
                    <label class="form-check-label" for="<%= audit.id %>"><%= audit.code.toUpperCase() + ' - ' + audit.title.toUpperCase() %></label>
                  <%} %>
                </div>
              <% }}); %>
            <% } %>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="visually-hidden" aria-hidden="true" data-page="scanning" href="/scanning">Report</a>