<div id="<%= id %>">
  <fieldset>
    <legend><span class="visually-hidden">Test da ripetere</span></legend>

    <div class="d-flex justify-content-between gap-3 flex-wrap flex-column-reverse flex-md-row pe-1">
      <div class="form-check mb-0">
        <input id="<%= id %>-checkAll" class="form-check-input" type="checkbox" />
        <label class="form-check-label" for="<%= id %>-checkAll">Seleziona tutto</label>
      </div>

      Seleziona i criteri e le raccomandazione che vuoi verificare.
    </div>

    <hr class="my-2" />

    <% audits.forEach(function(audit) { %>
      <% if (audit.code.length > 0) { %>
        <div class="form-check">
          <input class="form-check-input" id="<%= audit.id %>" type="checkbox" name="audits" checked>
          <% if (audit.code.toUpperCase() === audit.title.toUpperCase()) { %>
            <label class="form-check-label" for="<%= audit.id %>">
              <%= audit.title.toUpperCase() %>
            </label>
          <% } else { %>
            <label class="form-check-label" for="<%= audit.id %>">
              <%= audit.code.toUpperCase() + ' - ' + audit.title.toUpperCase() %>
            </label>
          <% } %>
        </div>
      <% } %>
    <% }); %>
  </fieldset>
</div>