<header class="it-header-wrapper mb-4">
  <div class="it-nav-wrapper container">
    <div class="it-header-center-wrapper">
      <div class="ex-container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <div class="it-brand-text">
                  <div class="it-brand-title h4">
                    App di valutazione
                  </div>
                </div>
              </div>
              <div class="it-right-zone">
                <p>Versione GUI: <%- guiVersion %></p>
                <p>Versione Engine: <%- crawlerVersion %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper">
      <div class="ex-container">
        <div class="row">
          <div class="col-12">
            <!--start nav-->
            <nav class="navbar navbar-expand-lg" aria-label="Navigazione principale">
              <button class="custom-navbar-toggler" type="button" aria-controls="headerNav" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#headerNav">
                <svg class="icon">
                  <use href="#it-burger"></use>
                </svg>
              </button>
              <div class="navbar-collapsable" id="headerNav" style="display: none;">
                <div class="overlay" style="display: none;"></div>
                <div class="close-div">
                  <button class="btn close-menu" type="button">
                    <span class="visually-hidden">Nascondi la navigazione</span>
                    <svg class="icon">
                      <use href="#it-close-big"></use>
                    </svg>
                  </button>
                </div>
                <div class="menu-wrapper">
                  <ul class="navbar-nav">
                    <li class="nav-item <%- currentPage === 'home' ? 'active' : '' %>">
                      <a class="nav-link <%- currentPage === 'home' ? 'active' : '' %>" data-page="home" href="/home" aria-current="<%- currentPage === 'home' ? 'page' : 'false' %>">
                        Nuova scansione
                      </a>
                    </li>
                    <li class="nav-item <%- currentPage === 'history' ? 'active' : '' %>">
                      <a class="nav-link <%- currentPage === 'history' ? 'active' : '' %>" data-page="history" href="/history" aria-current="<%- currentPage === 'history' ? 'page' : 'false' %>">
                        Storico
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>