<div class="table-wrapper">
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <th>Tipologia</th>
        <th>Url sito</th>
        <th>Durata</th>
        <th>% Successo</th>
        <th>Data</th>
        <th style="width: 0" ><span class="visually-hidden">Azioni</span></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(item => { %>
      <tr>
        <td><%- item.type %></td>
        <td>
          <%- item.url %>
          <span class="visually-hidden"> - apre in una nuova scheda</span>
        </td>
        <td>
          <% if (item.executionTime) { %> <%- new
          Date(item.executionTime).toISOString().slice(11,19) %> <% } else { %>
          <span aria-hidden="true">-</span><span class="visually-hidden">Non definito</span>
          <% } %>
        </td>
        <td>
          <span aria-hidden="true">
            <% if (item.status === 'error' || item.status === 'pending') { %>
              Errore
            <% } else { %>
              <%= isNaN(Math.round((item.successCount / (item.successCount + item.failedCount + item.errorCount)) * 100)) ? 0 : Math.round((item.successCount / (item.successCount + item.failedCount + item.errorCount)) * 100) %>%
            <% } %>
          </span><span class="visually-hidden">Non definito</span>
        </td>
        <td>
          <%- new Intl.DateTimeFormat('it-IT', { dateStyle: "short", timeStyle:
          "medium" }).format(new Date(item.date)) %>
        </td>
        <td>
          <div class="d-flex align-items-end gap-2">
            <a class="icon-link" data-page="report" href="<%= "/report?id="+item.id %>" title="Pagina di dettaglio">
              <svg class="icon">
                <use href="#it-note"></use>
              </svg>
              <span class="visually-hidden">Pagina di dettaglio</span>
            </a>
            <button class="icon-link" data-open-report="<%=item.id %>" title="Vedi dettaglio in una nuova scheda" <%= (item?.status === "pending")? "disabled":"" %>>
              <svg class="icon">
                <use href="#it-password-visible"></use>
              </svg>
              <span class="visually-hidden">Vedi dettaglio in una nuova scheda</span>
            </button>
            <button class="icon-link" data-download="<%=item.id %>" title="Scarica report" <%= (item?.status === "pending")? "disabled":"" %>>
              <svg class="icon">
                <use href="#it-download"></use>
              </svg>
              <span class="visually-hidden">Scarica report</span>
            </button>
            <button class="icon-link" data-delete="<%=item.id %>" title="Elimina report" data-bs-toggle="modal" data-bs-target="#modal-confirm-delete" aria-haspopup="dialog">
              <svg class="icon">
                <use href="#it-delete"></use>
              </svg>
              <span class="visually-hidden">Elimina report</span>
            </button>
          </div>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>