<div id="history-table" class="table-wrapper">
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <th>Tipologia</th>
        <th>Url sito</th>
        <th>Durata</th>
        <th><span class="visually-hidden">Risultato</span></th>
        <th class="text-center">Criteri superati</th>
        <th class="text-center">Criteri eseguiti</th>
        <th>Data</th>
        <th><span class="visually-hidden">Azioni disponibili</span></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(item => { %>
        <tr>
          <td><%- item.type %></td>
          <td>
            <a target="_blank" href="<%- item.url %>"><%- item.url %></a>
            <span class="visually-hidden"> - apre in una nuova scheda</span>
          </td>
          <td>
            <% if (item.executionTime) { %>
              <%- new Date(item.executionTime).toISOString().slice(11,19) %>
            <% } else { %>
              <span aria-hidden="true">-</span><span class="visually-hidden">Non definito</span>
            <% } %>
          </td>
          <td>
            <div class="legend-item">
              <div
                aria-labelledby="legend-<%- item.errorCount > 0 ? 'error' : item.failedCount > 0 ? 'fail' : (item.status === 'pending' || item.status === 'cancelled') ? 'undone' : 'pass' %>"
                class="circle <%- item.errorCount > 0 ? 'error' : item.failedCount > 0 ? 'fail' : (item.status === 'pending' || item.status === 'cancelled') ? 'undone' : 'pass' %>"
                title="<%- item.errorCount > 0 ? 'Errore' : item.failedCount > 0 ? 'Fallito' : (item.status === 'pending' || item.status === 'cancelled') ? 'Non eseguito' : 'Superato' %>"
              >
              </div>
            </div>
          </td>
          <td class="text-center">
            <% if (item.status === 'pending' || item.status === 'cancelled') { %>
              Interrotta
            <% } else { %>
              <%= item.successCount %>
            <% } %>
          </td>
          <td class="text-center">
            <% if (item.status === 'pending' || item.status === 'cancelled') { %>
              Interrotta
            <% } else { %>
              <%= item.successCount + item.failedCount + item.errorCount %>
            <% } %>
          </td>
          <td>
            <%- new Intl.DateTimeFormat('it-IT', { dateStyle: "short", timeStyle: "short" }).format(new Date(item.date)) %>
          </td>
          <td>
            <div class="d-flex align-items-end gap-2">
              <a class="icon-link" data-page="report" href="<%= "/report?id="+item.id %>" title="Dettaglio scansione">
                <svg class="icon">
                  <use href="#it-note"></use>
                </svg>
                <span class="visually-hidden">Dettaglio scansione</span>
              </a>
              <button class="icon-link" data-open-report="<%=item.id %>" title="Visualizza report" <%= (item.status === 'pending' || item.status === 'cancelled') ? "disabled" : "" %>>
                <svg class="icon">
                  <use href="#it-password-visible"></use>
                </svg>
                <span class="visually-hidden">Visualizza report</span>
              </button>
              <button class="icon-link" data-download="<%=item.id %>" title="Scarica report" <%= (item.status === 'pending' || item.status === 'cancelled') ? "disabled" : "" %>>
                <svg class="icon">
                  <use href="#it-download"></use>
                </svg>
                <span class="visually-hidden">Scarica report</span>
              </button>
              <button class="icon-link" data-delete="<%=item.id %>" title="Elimina report" data-bs-toggle="modal" data-bs-target="#modal-confirm-delete" aria-haspopup="dialog">
                <svg class="icon">
                  <use href="#it-delete"></use>
                </svg>
                <span class="visually-hidden">Elimina report</span>
              </button>
            </div>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <% if (items.length === 0) { %>
    <%- include('components/no-results'); %>
  <% } %>
</div>