<div class="table-wrapper">
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <th>Tipologia</th>
        <th>Data</th>
        <th>Url sito</th>
        <th>Durata</th>
        <th>% Successo</th>
        <th><span class="visually-hidden">Azioni</span></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(item => { %>
      <tr>
        <td><%- item.type %></td>
        <td><%- new Intl.DateTimeFormat('it-IT', { dateStyle: "short", timeStyle: "medium" }).format(new Date(item.date)) %></td>
        <td>
          <a href="<%- item.url %>" target="_blank" rel="noopener noreferrer">
            <%- item.url %>
            <span class="visually-hidden"> - apre in una nuova scheda</span>
          </a>
        </td>
        <td><%- new Date(item.executionTime).toISOString().slice(11,19) %></td>
        <td><%- (item.successCount / (item.successCount + item.failedCount + item.errorCount))*100 %>%</td>
        <td>
          <!-- TODO: integrate -->
          <div class="d-flex flex-wrap gap-2">
            <a class="btn btn-primary btn-xs" data-page="report" href="/report?id=<%=item.id %>">
              Visualizza
            </a>
            <button class="btn btn-primary btn-xs" data-download="<%=item.id %>">
              Scarica
            </button>
          </div>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>