<nav class="pagination-wrapper justify-content-center mt-4" aria-label="Paginazione">
  <ul id="pagination" class="pagination" aria-label="Pagina <%- pagination.currentPage %> di <%- pagination.numberOfPages %>">
    <!-- TODO: disable if already first page -->
    <li class="page-item">
      <a class="page-link" href="#">
        <svg class="icon icon-primary">
          <use href="#it-chevron-left"></use>
        </svg>
        <span class="visually-hidden">Pagina precedente</span>
      </a>
    </li>
    <li class="page-item">
      <span class="page-link" aria-current="page" data-current-page="<%- pagination.currentPage %>">
        <%- pagination.currentPage %>
      </span>
    </li>
    <li class="page-item" aria-hidden="true"><span class="page-link">/</span></li>
    <!-- TODO: make last page clickable -->
    <li class="page-item" aria-hidden="true"><span class="page-link"><%- pagination.numberOfPages %></span></li>
    <!-- TODO: disable if already last page -->
    <li class="page-item">
      <a class="page-link" href="#">
        <svg class="icon icon-primary">
          <use href="#it-chevron-right"></use>
        </svg>
        <span class="visually-hidden">Pagina successiva</span>
      </a>
    </li>
  </ul>
  <!-- TODO: integrate -->
  <div class="form-group">
    <input type="text" class="form-control" id="jumpToPage">
    <label for="jumpToPage">
      <span aria-hidden="true">Vai a ...</span>
      <span class="visually-hidden">Indica la pagina desiderata</span>
    </label>
  </div>
</nav>